################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VeterinaryAppAPI/VeterinaryAppAPI/Credentials/final-year-project-748be-2df9641c0d90.json
