.profileData {
    position: relative;
    margin-left: 1%;
}

.profileData .profilePhoto{
    width: 100%!important;
    height: 255px!important;
    object-fit: contain;
 }

.form-group{
    margin-top: 8%;
}

.form-label{
    font-style: oblique;
}

img {
    height: 35%;
    width: 30%;
}

.history{
    height: 60%;
    width: 60%;
    position: relative;
    float: right;
}

h5 {
    margin-bottom: 2%;
    text-align: left;
}


.medsUsedModal {
    width:70vw;   /* Occupy the 70% of the screen width */
    max-width: 70vw;
}